
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    color: #333;
    background-color: #f3f5f7;
}

a {
    text-decoration: none;
    color: #333;
}

/*

导航栏开始

*/
.navi-bar {
    height: 100px;
}

.navi-bar-content {
    height: inherit;
    width: 1200px;
    margin: auto auto;
    background-repeat: no-repeat;
    background-color: #f3f5f7;
    display: flex;
    padding: 30px 0;
    justify-content: space-between;
}

.navi {
    height: 40px;
    line-height: 40px;
    margin: 0 25px;
    font-size: 19px;
    color: #333;
}

.navi > a {
    margin: 0 10px;
}

.navi > a:hover {
    color: #0092cb;
}

.navi > a:nth-child(1) {
    border-bottom: 2px solid #0092cb;
}

.search-bar {
    height: 40px;
    width: 375px;
    background-color: #fff;
    border-radius: 20px;
    line-height: 40px;
    padding-left: 20px;
    padding-right: 20px;
    color: #999999;
    border: none;
    vertical-align: top;

}

.search-bar > input {
    vertical-align: top;
    height: 40px;
    width: 310px;
    border: none;
    background-color: #fff;
}

.search-bar > input:focus {
    /* 清除输入时黑边 */
    outline: none;
}

.user {
    margin-left: 20px;
    width: 130px;
    height: 40px;
    line-height: 40px;
    display: flex;
}

.user > * {
    align-items: center;
}

.user > span {
    /*margin-left: 5px;*/
    font-size: 16px;
    color: #333;
    margin-left: 10px;
}

/*

 导航栏结束

*/
/*

banner区域开始

*/
.banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.banner-area {
    height: 450px;
    background-color: #0092cb;
}

.banner-area > div {
    height: 450px;
    width: 1200px;
    background-image: url('./imgs/uploads/banner.png');
    background-repeat: no-repeat;
    margin: 0 auto;
}

.banner-courses {
    height: 100%;
    width: 190px;
    background-color: rgba(0, 0, 0, 0.2);
}

.banner-course {
    color: white;
    height: 50px;
    line-height: 60px;
    width: 70%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.banner-course > a:hover {
    color: #00a4ff;
}

.banner-course > a {
    width: 100%;
    height: 100%;
    display: block;
    color: white;
}

.banner-course > img {
    height: 10px;
    width: 10px;
}

.class-table {
    background-color: #209dd5;
    height: 300px;
    width: 220px;
    border-radius: 10px;
    /*padding-top: 40px;*/
}

.table-title {
    color: #fff;
    height: 40px;
    line-height: 40px;
    font-size: 15px;
    margin-left: 10px;
}

.class-table-content {
    background-color: #fff;
    height: 260px;
    width: 220px;
    border-radius: 10px;
    padding: 20px;
}

.class-table-content > div {
    /*width: 190px;*/
    height: 53px;
}

.class-table-content > div > h2 {
    font-size: 14px;
}

.class-table-content > div > span {
    font-size: 12px;
    color: #7d7d7d;
}

.class-table-content > div > span.color-blue {
    color: #00a4ff;
}

button#all-classes {
    /*width: 190px;*/
    margin-top: 15px;
    width: 180px;
    color: #fff;
    height: 32px;
    background-color: #00a4ff;
    border: none;
    border-radius: 16px;
    cursor: pointer;
}

/*

banner区域结束

*/
/*

精品推荐区域开始 & 主体部分开始

*/
.main-content-area {
    width: 1200px;
    margin: 10px auto;
    /*border: black solid 1px;*/
}

.course-recommendation-bar {
    height: 60px;
    padding: 0 20px;
    display: flex;
    background-color: #fff;
    justify-content: space-between;
    align-items: center;
}

.recommendation-items-container {
    width: 900px;
    display: flex;
    justify-content: space-between;
}

.recommendation-item {
    font-size: 16px;
    border-right: solid 1px #e0e0e0;
    height: 16px;
    line-height: 16px;
    padding: 0 25px;
}

.recommendation-item:last-child {
    border: none;
}

.blue-recommendation-title, .change-interest {
    font-size: 17px;
    color: #00a4ff;
}

/*


精品推荐区域结束

*/
/*

精品推荐内容区域开始

 */
.recommendation-content-bar {
    margin: 20px 0;
}


.recommendation-content-bar > h2 > span {
    display: block;
}

.recommendation-content-bar > h2 > span:nth-child(2) > a {
    font-size: 14px;
    color: #999;
}

.recommendation-content-bar > h2 {
    font-size: 21px;
    margin-bottom: 20px;
    display: flex;
    width: 100%;
    height: 21px;
    justify-content: space-between;

}

.recommendation-content-container {
    height: 570px;
    /*background-color: #fff;*/
    display: flex;
    justify-content: space-between;
    align-content: space-between;
    flex-wrap: wrap;
}

.card-content-item {
    width: 230px;
    height: 270px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-content-item > img {
    width: 230px;
    height: 156px;
    display: block;
}

.card-content-item > div {
    flex: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-content-item-title {
    font-size: 14px;
    margin-bottom: 10px;
}

.card-content-item-info {
    font-size: 14px;
    color: #999999;
}

.card-content-item-info > span {
    color: #fa6400;
}

/*


精品推荐内容区域结束

 */
/*

前端/Python区域开始

*/
.content-bar {
    margin: 20px 0;
}

.content-bar > h2 > span {
    display: block;
}

.content-bar > h2 > span:nth-child(3) > a {
    font-size: 14px;
    color: #999;
}

.content-bar > h2 {
    font-size: 21px;
    margin-bottom: 20px;
    display: flex;
    width: 100%;
    height: 21px;
    justify-content: space-between;

}

.level-sorts > a {

    font-size: 16px;
    margin: 0 60px;
    font-weight: normal;
}

.level-sorts > a:nth-child(1) {
    color: #00a4ff;
}

.level-sorts > a:hover {
    color: #00a4ff;

}

.content-container {
    width: 100%;
    height: 400px;
}

.content-container {
    display: flex;
    justify-content: space-between;
}

.left-post {
    width: 230px;
    height: 100%;
}

.left-post > img {
    width: 230px;
    height: 100%;
}

.right-bar {
    width: 950px;
    height: 100%;
    /*background-color: #fff;*/
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.right-bar > img {
    width: 100%;
    margin-bottom: 10px;
}

.content-cards {
    /*background-color: pink;*/
    height: 270px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.content-card {

}

/*


前端/Python区域结束

*/
/*


人工智能/java区域开始

*/
.content-container2 {
    width: 100%;
    height: 270px;
    display: flex;
    justify-content: space-between;
}


/*



人工智能/java区域结束

*/
/*

页脚区域开始

 */
footer {
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
}

.footer-content {
    width: 1200px;
    height: 150px;
    /*background-color: white;*/
    display: flex;
    justify-content: space-between;
}

.footer-left {
    font-size: 12px;
    color: #666;
}

.footer-left > div {
    margin: 18px 0;

}

.footer-left > button {

    color: #00a4ff;
    border: #00a4ff solid 1px;
    background-color: #fff;
    width: 120px;
    height: 36px;
    cursor: pointer;
}

.footer-right {
    width: 520px;
    display: flex;
    justify-content: space-between;
    text-align: center;
    color: #666;
    font-size: 14px;
}

.footer-right > h1 {
    color: #333;
    font-size: 14px;
}
/*


页脚区域结束

*/